#entireForm {
	background-color: white;
	
	position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

#newCardSaveButton {
  float: left,
}

#newCardClearButton {
  float: right,
}